.booking-form {
  // @import formStyle();
  
  select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
  }

  // button {
  //   @import buttonStyling(); 
  //   background-color: $bold-color4;
  //   color: $muted-color1;
  // }
}



