@import "variables";

.airplane {
  height: 8vh;
  width: 10vh;
}

.globe {
  height: 10vh;
  width: 10vh;
  background-color: $bold-color1;
  padding: .5em;
  @include boxShadow()
}

.travel {
  height: 10vh;
  width: 10vh;

}