@import "variables";

.login {
  flex-direction: column;
  justify-content: center;
  padding: 10%;
  align-self: center;
  width: 100%;
}

.login-field {
  display: flex;
  flex-direction: column;
  padding: 15% 15% 0% 10%;
  justify-content: center;
}

